/*Desktop CSS*/
body {
    margin: 0%;
    background-image: url(http://www.zingerbugimages.com/backgrounds/grass_background.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 2vw;
}

h1 {
    font-size: 2.5vw;
    margin-top: 0;
}

#banner {
    width: 100%;
    padding: 0%;
    margin: 0%;
    font-size: 1.7vw;
}

#desktopLogo {
    width:20%;
    padding: 0%;
    margin: 0%;
    vertical-align: bottom;
}

#desktopBanner {
    width: 80%;
    margin: 0%;
    padding: 0%;
    vertical-align: bottom;
}

#imgFloatRight {
    width: 40%;
    float: right;
    margin-left: 2%;
}

#main {
    background-color: white;
    width: 80%;
    margin-left: 8%;
    margin-top: 3%;
    padding: 2%;
    overflow: hidden;
    margin-bottom: 3%;
}

ul > li > a {
    text-decoration: none;
    color:rgb(245, 118, 0);
    padding-left: 6.5%;
    padding-right: 6.5%;
    text-shadow: 1.2px 1.2px rgb(30, 30, 30);
}

ul {
    padding: 0;
    margin: 0;
    background-color: rgb(122, 122, 122);
}

li {
    list-style: none;
    margin: 0;
    display: inline;
}

li a:hover {
    background-color:rgb(55, 55, 55);
}

#mobileBanner {
    display: none;
}

#mobileImgCentred {
    display: none;
}

/*CSS Changes for mobile devices*/
@media only screen and (max-width: 780px) {
    body {
        background-image: none;
        background-color: rgb(0, 187, 0);
    }
    
    #banner {
        display: none;
    }
    
    #mobileBanner {
        display: block;
        width: 100%

    } 

    #mobileBannerImg {
        width: 75%;
        float: left;
    }

    #mobileLogo {
        width: 12.5%;
        align-self: right;
    }

    #burgerMenu {
        width: 12.5%;
        float: left;
    }

    #imgFloatRight {
        display: none;
    }

    #main {
        width: 90%;
        margin: 0;
        background-color: rgb(0, 187, 0);
        color: white;
        padding-left: 5%;
        padding-right: 5%;
    }

    p {
        font-size: 2.7vw;
    }

    h1 {
        font-size: 4vw;
    }

    #mobileImgCentred {
        display: block;
        width: 100%;
    }

}