/*Desktop CSS*/
body {
    margin: 0%;
    background-image: url(http://www.zingerbugimages.com/backgrounds/grass_background.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

#aWhite {
    color: blue;
}

p {
    font-size: 2vw;
}

h1 {
    font-size: 2.5vw;
    margin-top: 0;
}

#h1News {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 3%;
}

h2 {
    font-size: 2vw;
}

#banner {
    width: 100%;
    padding: 0%;
    margin: 0%;
    font-size: 1.7vw;
}

#desktopLogo {
    width:20%;
    padding: 0%;
    margin: 0%;
    vertical-align: bottom;
}

#desktopBanner {
    width: 80%;
    margin: 0%;
    padding: 0%;
    vertical-align: bottom;
}

#imgFloatRight {
    width: 40%;
    float: right;
    margin-left: 2%;
}

#imgFloatRight2 {
    width: 40%;
    float: right;
    margin-left: 2%;
}

#main {
    background-color: white;
    width: 80%;
    margin-left: 8%;
    margin-top: 3%;
    padding: 2%;
    overflow: hidden;
    margin-bottom: 3%;
}

#mainNews {
    background-color: #fff;
    width: 90%;
    margin-left: 4%;
    margin-top: 3%;
    padding: 1%;
}

ul > li > a {
    text-decoration: none;
    color:rgb(245, 118, 0);
    padding-left: 4.7%;
    padding-right: 4.7%;
    text-shadow: 1.2px 1.2px rgb(30, 30, 30);
}

ul {
    padding: 0;

    margin: 0;
    background-color: rgb(122, 122, 122);
}

li {
    list-style: none;
    margin: 0;
    display: inline;
}

li a:hover {
    background-color:rgb(55, 55, 55);
}

#mobileBanner {
    display: none;
}

#mobileImgCentred {
    display: none;
}

#imgCentered {
    width: 100%;
} 

/*CSS Changes for mobile devices*/
@media only screen and (max-width: 780px) {
    body {
        background-image: none;
        background-color: rgb(30, 58, 99);
    }
    
    #banner {
        display: none;
    }
    
    #mobileBanner {
        display: block;
        width: 100%;
    } 

    #mobileBannerImg {
        width: 75%;
        float: left;
    }

    #mobileLogo {
        width: 12.5%;
    }

    #burgerMenu {
        width: 12.5%;
        float: left;
        cursor: pointer;
    }

    #burgerMenuIcon {
        width: 100%;
    }

    #burgerUl {
        width: 220px;
        display: none;
        cursor: default;
        padding: 15%;
        transform: translateY(-4px);
        position: relative;
        z-index: 2;
    }

    .change #burgerUl{
        display: block;
    }

    #burgerUl a {
        padding: 5%;
        display: block;
        font-weight: bold;
    }

    #imgFloatRight {
        display: none;
    }

    #main {
        width: 90%;
        margin: 0;
        background-color: rgb(30, 58, 99);
        color: rgb(245, 118, 0);
        padding-left: 5%;
        padding-right: 5%;
        position: absolute;
        z-index: 1;
    }

    p {
        font-size: 2.88vw;
    }

    h1 {
        font-size: 4.1vw;
        text-align: center;
    }

    h2 {
        font-size: 3.2vw;
    }

    #h2News {
        font-size: 2.5vw;
    }

    #mobileImgCentred {
        display: block;
        width: 100%;
    }

    #aWhite {
        color: #fff;
    }

}

/*Minor CSS changes for large screens*/
@media only screen and (min-width: 1800px) {
    #main {
        width: 50%;
        margin-left: 25%;
    }

    #mainNews {
        width: 60%;
        margin-left: 20%;
    }

    p {
        font-size: 1.7vw;
    }
    
}